<h1 class="small">Edit Your Workout</h1>
<h2 class="blueish">Input Changes:</h2>

<form action="/workouts/<%= @workout.id %>" method="post">
<table>
<input id="hidden" type="hidden" name="_method" value="patch">
  <tr>
    <td><li class="standard">Revised Workout Name:</li)</td>
    <td><input type="text" value="<%=@workout.name %>" name="name"></td>
  </tr>
  <tr>  
    <td> <li class="standard">Revised Workout Date:</li></td>
    <td><input type="text" value="<%=@workout.date %>"name="date"></td>
  </tr>
</table>
  <br>
  <button type="submit" class="popping"> Update </button>
  <button class="popping"><a class="simple" href="/workouts">Workout Index</a></button>
  </form>
<br>
  <div class="error"
    <div class="flash_alert">
      <% if flash[:alert] %>
      <%= flash[:alert] %>
      <% end %>
    </div>

