<h1>Workout Tracking</h1>

<h3>Below are the previous workouts you have listed:</h3>

<ul><% @workouts.each do |workout|%>
 <li> - <a href= "/workouts/<%= workout.id%>"> <%= workout.name %>
  (<%= workout.date %>) </a> </li>
</ul>
<% end %>
<br>
<br>
<h3> <a href="/workouts/new.html">Add a new workout</a> </h3>

