<h1 class="small">Add a New Workout</h1>

<form action="/workouts" method="POST">
  <br>
  <li class="standard"> <label> <u><b>Workout Name</b></u>: </label>
  <input type="text" name="name"> </br> </li>

  <li class="standard"> <label> <u><b>Workout Date</b></u>: </label>
  <input type="text" name="date"> </br> </li>
<br>
  <input type="submit" value="Create">
</form>
<br>

  <div class="err"
    <div class="flash_alert">
      <% if flash[:alert] %>
      <%= flash[:alert] %>
      <% end %>
    </div>