<h1>Add a New Workout</h1>

<form action="/lifts" method="POST">
  <label> Workout Name </label>
  <input type="text" name="name"> </br>

  <label> Workout Date </label>
  <input type="text" name="date"> </br>

  <input type="submit" value="Create">
</form>