<h1 class="small">Add A New Workout</h1>

<form action="/workouts" method="POST">
<table>
  <tr>
    <td><li class="standard">Workout Name:</li></td>
    <td><input type="text" name="name"> </td>
  </tr>
  <tr>
    <td><li class="standard">Workout Date:</li></td>
    <td><input type="text" name="date"> </td>
  </tr>
</table>
<br>
  <button type="submit" class="popping">Create</button>
</form>
<br>

  <div class="error"
    <div class="flash_alert">
      <% if flash[:alert] %>
      <%= flash[:alert] %>
      <% end %>
    </div>