<h1> <%= @workout.name%> </h1>

<h2> <%=@workout.date%></h2>

<form method="post" action="/workouts/<%= @workout.id %>/delete">
   <input id="hidden" type="hidden" name="_method" value="DELETE">
   <input type="submit" value="delete">
</form>