<h1> <%= @workout.name%> </h1>

<h2> <%=@workout.date%></h2>
<h3><a href="<%= @workout.id %>/edit">Edit your workout</a></h3>

<form method="post" action="/workouts/<%= @workout.id %>/delete">
   <input id="hidden" type="hidden" name="_method" value="DELETE">
   <input type="submit" value="Delete">
</form>

<a href="/">Workout Index</a>