<h1 class="small">Sign Up</h1>
<h2 class="blueish">Existing Users</h2>
<br>
<img width="700" height="500" src="https://www3.pictures.zimbio.com/gi/China+Weightlifting+Powerhouse+Readies+Rio+duZhTa_xYtux.jpg" alt="John Davis">
<br>
<form action="/signup" method="POST">
  <input type="text" name="username" placeholder="Username:">
  <input type="password" name="password" placeholder="Password:">
  <input type="submit" value="Sign Up">
</form>
<br> 
  <div class="flash_alert">
        <% if flash[:alert] %>
        <%= flash[:alert] %>
        <% end %>