<h1> Welcome, <%= @user.username%> </h1>

<h2>You can select from any of the following options:</h2>

<ul>
  <li> <a href="/workouts/index.html">See previous workouts</a></li>
  <li> <a href="/workouts/new.html">Create a new workout</a></li>
</ul>





