<h1 class="small">Workout Tracker</h1>
<h2 class="blueish">Your weightlifting hub</h2>

<img src="https://cdn.shopify.com/s/files/1/1251/9383/files/Olympic_Lifting_Legend_-_John_Davis.jpg?v=1482974191" alt="John Davis">


<p>Please <a href='/login'>log in</a> or <a href='/signup'>sign up</a> to begin!</p>