<h1 class="small">Workout Tracker</h1>
<h2 class="blueish">Your Weightlifting Hub</h2>
<br>
<img width="700" height="500" src="https://cdn.shopify.com/s/files/1/1251/9383/files/Olympic_Lifting_Legend_-_John_Davis.jpg?v=1482974191">


<p>Please <a href='/login'>log in</a> or <a href='/signup'>sign up</a> to begin!</p>