<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<style>
  
  body {
    background-image: url("http://wallpapersqq.net/wp-content/uploads/2016/01/Barbell-10.jpg");
    }
  
  a {text-decoration: none; }
  
  h1.small {
    font-variant: small-caps;
    color: rgb(96,96,96)
  }
  
  h2.blueish {
     font-style: italic;
     color: rgb(0,0,139)
  }
  
  
  li.standard {
    list-style-type: square;
    text-decoration: underline;
    font-weight: bold;
  }
  
  button {
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    font-variant: small-caps;
  }

  button.popping {
    background-color: #bdcebe;
  }
  
  button.destroy {
    background-color: #641E16;
  }

  button.logout {
    background-color: #EBF5FB;
  
  div.error {
   color:red;
   font-variant: small-caps;
  }
  
</style>


  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    <title>WorkoutTracker</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
  
        <div class="navbar">
        <button class="logout">
          <% if logged_in?%>
            <a href="/logout"> Logout </a>
          <% end %>
        </button>

    </div>
    
    <div class="wrapper">

        <%= yield %>

      <footer class="branding">
        <small>&copy; 2020 <strong>WorkoutTracker</strong></small>
        <br>
        <input type="image" style="width:100px" src="https://tinyurl.com/y7c7gc82" />
      </footer>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <!--[if lt IE 7]>
      <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
      <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
    <![endif]-->
  </body>
</html>
